@model List<FbQuestion>
<style>
    ol{
        list-style: none;
    }
</style>

<form asp-controller="Feedbacks" asp-action="DoFeedback" method="post">
    <ol>

        @foreach (FbQuestion q in Model)
        {
            <li>
                @q.FbQuestionTitle:
                @q.FbQuestionContent
                <input type="hidden" name="fbQuestionId" value="@q.FbQuestionId"/>
                <ol>
                    @foreach(var o in q.FbOptions)
                    {
                        <li>
                            <ol>
                            <input type="radio" name="fbOption_@q.FbQuestionId" value="@o.FbOptionId"/>
                            @o.FbOptionContent
                            </ol>
                        </li>
                    }
                </ol>
            </li>
        }
    </ol>
    <input class="btn" type="submit" value="Send"/>

</form>