@using System.IO
@using System.Collections.Generic;
@using System.Linq;
@model Question
<link href="/css/askqa.css" rel="stylesheet" type="text/css" />

<h2>Answer questions</h2>
<form asp-controller="Questions" asp-action="AnswerQA" method="post">
    <table class="table table-striped">
        <tr>
            <input type="hidden" name="questionId" value="@Model.QuestionId" />
            <td colspan="2">
                Student:
                <span style="font-weight: 700; color: #800000; font-size: small">@Model.StudentId - @Model.Student.StudentName</span>
                - Subject:
                <span style="color: #990033; font-weight: 700; font-size: small">@ViewBag.courseId</span>

            </td>

        </tr>

        <tr>
            <td>
                <span>Question Details:</span>
            </td>
            <td colspan="2">
                <div class="label label-info">@Model.QuestionTitle</div>
                <div class=""><p>@Model.QuestionDescription</p></div>
                <div style="margin-top:10px">
                    @if (!string.IsNullOrEmpty(@Model.FileUrl))
                    {
                        var fileExtension = ViewBag.findFileName;
                        var imageExtensions = new List<string> { ".jpg", ".jpeg", ".png", ".gif" };
                        var pdfExtensions = new List<string> { ".pdf" };
                        var excelExtensions = new List<string> { ".xls", ".xlsx" };
                        var docExtensions = new List<string> { ".doc", ".docx" };

                        if (imageExtensions.Contains(fileExtension))
                        {
                            <img src="@Url.Content("~/file/question/" + @Model.FileUrl)" width="30%" alt="Attached Image" />
                        }
                        else if (pdfExtensions.Contains(fileExtension))
                        {
                            <embed src="@Url.Content("~/file/question/" + @Model.FileUrl)" width="80%" height="400px" type="application/pdf"></embed>
                        }
                        else if (excelExtensions.Contains(fileExtension) || docExtensions.Contains(fileExtension))
                        {
                            <a href="@Url.Action("DownloadFile", "File", new { fileName = @Model.FileUrl})">Download File</a>
                        }

                    }
                </div>
            </td>

        </tr>

        <tr>
            <td></td>
            <td>
                <input id="isReject" name="isReject" type="checkbox" value="true" /><label for="isReject">Reject</label>
            </td>

        </tr>
        <tr>
            <td>
                <span>Answer Question:</span>
            </td>
            <td>
                <textarea name="answerContent" rows="6" cols="20" style="width:700px;"></textarea>
                <span style="color:Red;visibility:hidden;">Yêu cầu nhập dữ liệu</span>
            </td>
        </tr>
        @*
        <tr>
        <td>File URL:</td>
        <td>
        <input type="file" id="uploadImage" />
        <span style="text-align: left"></span>
        </td>
        </tr>
        *@
        <tr>
            <td></td>
            <td>
                <input type="submit" class="btn" value="Submit" />
            </td>
        </tr>
    </table>
</form>
