@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int index = 1;
}
@model List<Question>
<h2>View Question Answer</h2>
<table class="table table-striped">
    <h3>My Question</h3>
    <thead>
        <tr>
            <th>No</th>
            <th>Subject</th>
            <th style="width:150px;">Title</th>
            <th style="width:250px;">...</th>
            <th style="width:250px;">...</th>
            <th>SENT TIME</th>
            <th>Status</th>
        </tr>
    </thead>

    @foreach (var q in Model)
    {
        <tr>
            <td style="width: 20px;">@(index++)</td>
            <td><span class='label label-default'>@q.Group?.CourseId</span>-@q.Group?.Course?.CourseName</td>
            <td><span class='label label-info'>@q.QuestionTitle</span></td>
            <td style="width:250px;">
                <div class="btn-group btn-group-xs">
                    <a class="label label-danger " data-toggle="collapse" >View Question</a>
                </div>
                <div class="collapse">
                    <p>@q.QuestionDescription</p>
                </div>
            </td>
            <td style="width:250px;">
                @if (q.QuestionStatus == 1)
                {
                    @foreach (var answer in q.Answers)
                    {
                        <div class="btn-group btn-group-xs">
                            <a class="label label-success " data-toggle="collapse" >View Answer - @answer.AnswerTime</a>
                        </div>
                        <div class="collapse">
                            <p>@answer.AnswerContent</p>
                        </div>
                    }
                }
            </td>
            <td>@q.QuestionSentTime</td>
            <td>
                @if (q.QuestionStatus == 0)
                {
                    <span class='label label-warning'>Processing</span>
                }
                else if (q.QuestionStatus == 1)
                {
                    <span class='label label-danger'>Processed</span>
                }
                else
                {
                    <span class='label label-default'>Reject</span>
                }
            </td>
        </tr>
    }


</table>

